<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav-bar">
        <div class="nav-bar-item" id="img-nome">
            <img src="perfil.jpg" alt="foto de perfil" id="foto-perfil">
            <h2 class="Meu nome">Samuel Araújo</h2>
        </div>
        <div class="nav-bar-item">
            <h1>TÍTULO DA PÁGINA</h1>
        </div>
        <div class="nav-bar-item" id="materias">
            <img src="icons8-cardápio-96.png" alt="ícone da matéria {tal}" id="menu">
            <div class="dropdown">
                <span id="selected-option">Selecione uma opção</span>
                <ul class="materias-list">
                    <li data-value="1">Essa</li>
                    <li data-value="2">Essa outra</li>
                    <li data-value="3">Aquela</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        {{post.body | safe}}
    </div>
    <script src="index.js"></script>
</body>
<a target="_blank" href="https://icons8.com/icon/QuqCq2hSSMYX/card%C3%A1pio">Cardápio</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</html>