<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    
</head>
<body>
    <div class="nav-bar">
        <div class="nav-bar-item" id="img-&-nome">
            <img src="acolá" alt="foto de perfil">
            <h2 class="Meu nome">Samuel Araújo</h2>
        </div>
        <div class="nav-bar-item">
            <h3>TÍTULO DA PÁGINA</h3>
        </div>
        <div class="nav-bar-item" id="materias">
            <img src="ali" alt="ícone da matéria {tal}">
            <select name="materias" id="materias-combo-box">
                <option value="1"> Essa </option>
                <option value="2"> Essa outra</option>
                <option value="3"> Aquela</option>
            </select>
        </div>
    </div>
</body>
</html>